<table border="1" width="100%">
  <thead>
    <tr>
      <th>SNo.</th>
      <th>Name</th>
      <th>Phone</th>
      <th>email</th>
      <th>Age</th>
      <th>Complete Address</th>
      <th>Trainer Preference</th>
      <th>Physio Required</th>
      <th>Package</th>
      <th>Total Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>test test</td>
      <td>9988776655</td>
      <td>test@test.com</td>
      <td>24</td>
      <td>test,test-560058,india,test,india</td>
      <td>Male Trainer</td>
      <td>Yes</td>
      <td>500</td>
      <td>1000.10</td>
    </tr>
    <tr>
      <td>2</td>
      <td>testFirstName testLastName</td>
      <td>9988776655</td>
      <td>test@test.com</td>
      <td>24</td>
      <td># 123 test address, test-123456, test, test, test</td>
      <td>male</td>
      <td>yes</td>
      <td>500</td>
      <td>10000.10</td>
    </tr>
  </tbody>
</table>